# Sensitive files
token.json
credentials.json
client_secret*.json
GPG_KEY/
*.gdoc
.port.json
.tmp.drivedownload/
.tmp.driveupload/

# Logs and environment
*.log
.env

# Build and dependencies
node_modules/
dist/
package-lock.json
